<%= nested_form_for(@continent) do |f| %>
  <% if @continent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@continent.errors.count, "error") %> prohibited this continent from being saved:</h2>

      <ul>
      <% @continent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


		 <h2>Level 1</h2>
		  <div class="field">
		   Continent<br>
		    <%= f.text_field :name %>
		  </div>
		  <hr>
		  
		  
		   <blockquote>
		  <h2>Level 2</h2>
		  
		  <p>The Continent has many countrie(s)</p>
		
  
		  <p><%= f.link_to_add "Add a new country", :countries, :data => { :target => "#country_input" } %></p> 
		  
		  
		  <p><%= f.link_to_add(:countries, :class => "btn btn-success", :data => { :target => ".bs-example-modal-sm", :toggle =>"modal" } ) do %>
                                       Add Country
          <% end %></p>
		  
		  <%= f.fields_for :countries, :wrapper => false  do |co| %>
					  <%= co.text_field :name %>
					  
					 
					  <%= co.link_to_remove "Remove this country" %>
					  
					  <blockquote>
					 			  <h2>Level 3</h2>
					 			   
								  <%= co.fields_for :cities do |ci| %>
								  		<%= ci.text_field :name %>
								  		<%= ci.link_to_remove "Remove this city" %>
								  <% end %>
								  
								    
								   <p><%= co.link_to_add(:cities, :class => "btn btn-success") do %>
                                        Add City
                                   <% end %></p>
					  </blockquote>
					  
					  
		  <% end %>
		   </blockquote>
		   
		   <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

		   
		   Country input
		   <hr>
		   <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			    <div class="modal-content">
			      ...
			    </div>
			  </div>
			</div>
		  
		  
</div>
		 
		   
		
		
  
 <hr> 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
